#SubImage {
    width: 385px;
    height: 471px;
    float:right;
}
.SubCategorie {
    font-weight:bold;
}

/* breuken pagina */
#left-content {
    float:left;
    width:390px;
}

.SterImages {
    margin-left: 80px;
}