body {
}

.subs {
    width:100px;
    float:left;
}

.subsBreed{
    width:170px;
    float:left;
}

#animatedClockDIV {
    float:right;
}

#animatedClockGIF {
    width:200px;
    height:200px;
}

#Spacer {
    float:left;
    width:540px;
}

#Errorlbl {
    float:left;
    width:540px;
}

#questionClock {
    height: 200px;
    width: 200px;
}

.wijzerPlaat {
    position:absolute;
    z-index:1;
}

.korteWijzer {
    position:absolute;
    z-index:2;
}

.langeWijzer {
    position:absolute;
    z-index:3;
}