body {
}

.subs {
    width:100px;
    float:left;
}

.subsBreed{
    width:176px;
    float:left;
}

#animatedClockDIV {
    float:right;
    margin-top:0px;
}

#animatedClockGIF {
    width:200px;
    height:200px;
}

#Spacer {
    float:left;
    width:540px;
}

#Errorlbl {
    float:left;
    width:540px;
}

.sterren {
    border-bottom: solid 1px black;
}

#questionClock {
    height: 200px;
    width: 400px;
}

.wijzerPlaat {
    position:absolute;
    z-index:1;
}

.korteWijzer {
    position:absolute;
    z-index:2;
}

.langeWijzer {
    position:absolute;
    z-index:3;
}

.SunAndMoon {
    margin-left:200px;
}

.AnswerWijzerPlaat {
    position:absolute;
    z-index:1;
    width:100px;
    height:100px;
}

.AnswerKorteWijzer {
    position:absolute;
    z-index:2;
    width:100px;
    height:100px;
}

.AnswerLangeWijzer {
    position:absolute;
    z-index:3;
    width:100px;
    height:100px;
}
