
body {
    background-color: #A19EFF;
    height: 0 auto;
    width: 100%;
    margin-right: 7px;
}

#formSite {
    height:0 auto;
}

#header {
    background-color:#6973FF;
    height:100px;
    width:1000px;
    margin:0 auto 0 auto;
    border:solid 3px white;
}

#headerTitle {
    margin-top:30px;
    margin-left:30px;
    font-family:Arial;
    font-size:x-large;
    font-weight:900;
    color:white;
}

#bodyPage {
    background-color:#FFFFFF;
    margin:0 auto 0 auto;
    width:1000px;
    min-height:500px;
    height:0 auto;
    border:solid 3px white;
    position:relative;
}

#nav {
    background-color:#7D86FF;
    width:200px;
    min-height:500px;
    height:0 auto;
    float:left;
}

#content {
    width:auto;
    height:0 auto;
    margin-left:207px;
    float:none;
    background-color:white;
}

/*Hieronder voor sommenpage :P*/

#sommenContent {
    width:100%;
}

.som {
    width:472px;
    height:auto;
    /*border-right:solid 1px black;*/
    float:left;
}

.voortgang {
    width:100%;
    height:30px;
    margin-left: 3px;
}

#voortgang {
    margin-left: 20% ;
}

.sterren {
    width:100%;
    height:80px;
    border-left:solid 1px black;
    float:right;
    margin-left: 0px;
}

.uitkomstSterren {
    width:375px;
    height:auto;
    border-left:solid 1px black;
    border-bottom:solid 1px black;  
    float: right;
    margin-left: 7px;
}

.uitleg {
    width:100%;
    height:auto;
    border-top:solid 1px black;
    float: right;
    visibility: hidden;
    margin-left: 11px;
}

#inloggen {
    margin: 0 auto 0 auto;
}