<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MoreLinq.Source.MoreEnumerable" version="1.1.1" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.Acquire" version="1.0.1" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.AssertCount" version="1.0.1" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.Batch" version="1.0.1" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.Concat" version="1.0.1" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.Consume" version="1.0.1" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.DistinctBy" version="1.0.0" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.EquiZip" version="1.0.1" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.ExceptBy" version="1.0.0" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.Fold" version="1.1.1" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.ForEach" version="1.0.1" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.Generate" version="1.0.2" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.GenerateByIndex" version="1.0.1" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.GroupAdjacent" version="1.0.1" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.Index" version="1.0.1" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.MaxBy" version="1.0.1" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.MinBy" version="1.0.1" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.Pad" version="1.0.1" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.Pairwise" version="1.0.1" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.Pipe" version="1.0.1" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.Prepend" version="1.0.1" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.PreScan" version="1.0.1" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.Scan" version="1.0.1" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.SingleOrFallback" version="1.0.1" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.SkipUntil" version="1.0.1" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.Split" version="1.0.1" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.TakeEvery" version="1.0.1" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.TakeLast" version="1.0.2" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.TakeUntil" version="1.0.1" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.ToDataTable" version="1.0.0" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.ToDelimitedString" version="1.1.1" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.ToHashSet" version="1.0.0" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.Trace" version="1.0.1" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.Zip" version="1.0.1" targetFramework="net45" />
  <package id="MoreLinq.Source.MoreEnumerable.ZipLongest" version="1.0.1" targetFramework="net45" />
</packages>