body {
}
#left-content {
    float:left;
    width:49%;
}
#right-content {
    float:right;
    width:49%;
}
#som {
    float:left;
    width:100%;
}
#voortgang {
    float:left;
    width:100%;
    margin-left:0px;
    border:1px solid #000;
}
#uitleg {
    float:left;
    width:100%;
}
#boodschappenlijsttop {
   background-image:url('Images/Perkamentboven.png');
   height:60px;
   width:350px; 
   background-repeat:no-repeat;
}
#boodschappenlijst1px {
   background-image:url('Images/perkament1px.png');
   min-height:50px;
   width:350px; 
   background-repeat:repeat-y;
}
#boodschappenlijstonder {
   background-image:url('Images/perkamentonder.png');
   height:60px;
   width:350px; 
   background-repeat:no-repeat;
}
