body {
}
#left-content {
    float:left;
    width:49%;
}
#right-content {
    float:right;
    width:49%;
}
#som {
    float:left;
    width:100%;
}
#voortgang {
    float:left;
    width:100%;
    margin-left:0px;
}
#uitleg {
    float:left;
    width:100%;
}
#boodschappenlijsttop {
   
   height:71px;
   width:200px; 
   background-repeat:no-repeat;
}
#boodschappenlijst1px {
   
   height:71px;
   width:200px; 
   background-repeat:repeat-y;
}
#boodschappenlijstonder {
   
   height:71px;
   width:200px; 
   background-repeat:no-repeat;
   margin-left:-4px;
}
